<div class="container">
  <h3>{{tipoAlteracao}} Produto</h3>
  <app-mensagens [texto]="texto" *ngIf="texto != ''">
  </app-mensagens>

  <form [formGroup]="formProduto" autocomplete="off" (submit)="grava()">
    <div class="form-group">
      <label>Descrição</label>
      <input type="text" 
        formControlName="descricao" 
        class="form-control" 
        (blur)="limpaMensagem()"/>
      <app-mensagem-validacao 
        *ngIf = "formProduto.get('descricao').errors?.required && formProduto.dirty"  
         [texto] = "'Digite uma descrição válida'">
        </app-mensagem-validacao>
    </div>

    <div class="form-group">
        <label>Preço</label>
        <input type="text" 
          formControlName="preco"
          class="form-control" 
          (blur)="limpaMensagem()"/>
        <app-mensagem-validacao
          *ngIf="formProduto.get('preco').errors?.required && formProduto.dirty"   
          [texto]="' Digite um preco válido'">
        </app-mensagem-validacao>
    </div>

    <div class="btn-group">
        <button type="submit" class="btn btn-primary" [disabled]="!formProduto.valid">Grava</button>
        <a routerLink="/produtos/lista" class="btn btn-secundary">Volta</a>
    </div>
    <br>
  </form>
</div>

